<html>
<head th:replace="~{base :: head}"></head>
<script type="text/javascript" src="/js/loadCliente.js"></script>
<body>
	<div th:replace="~{base :: navMenu}"></div>

	<div class="container" id="listaClientes">
		<div th:replace="~{base :: novaVenda('Novo Cliente')}"></div>

		<div class="card mt-3">
			<form th:object="${requisicaoNovoCliente}" class="card-body m-3"
				th:action="@{/cliente/novo}" method="POST">

				<div class="mb-3">
					<label for="nomeCliente" class="form-label">Nome Cliente</label> 
					<input name="nomeCliente" type="text" class="form-control"
						id="nomeCliente" placeholder="Nome completo do cliente">
				</div>

				<div id="endereco">				
					<div class="row">					
						<div class="mb-3 col-1">
							<label for="sigla" class="form-label">Sigla</label> 
							<input name="sigla" type="text" class="form-control" id="sigla">
						</div>						
						<div class="mb-3 col-2">
							<label for="dropDownEstado" class="form-label">Estado:</label> 
							<select id="dropDownEstado" class="form-control" v-on:change="getCidades()" name="estado">
								<option disabled selected="selected" value=""  v-on:click="say('what')">Selecione um estado</option>
								<option v-for="estado in estados" 
										v-bind:value="estado.nome"  v-on:click="say('what')">{{estado.nome}}</option>								
							</select>
						</div>
						<div class="mb-3 col-3">
							<label for="cidade" class="form-label">Cidade</label> 
							<select id="dropDownCidade" class="form-control" name="cidade">
								<option v-for="cidade in cidades"
										v-bind:value="cidade.nome" id="cidade">{{cidade.nome}}</option>
							</select>
						</div>
					</div>
				</div>
				<a href="http://localhost:8080/venda/formulario"><button type="button" class="btn btn-outline-secondary my-sm-0">Cancelar</button></a>
				<button type="submit" class="btn btn-primary">Salvar Cliente</button>
			</form>
		</div>
	</div>
	
</body>
</html>