<html>
<head>
<meta charset="UTF-8">
<!--  <head th:replace="~{base :: head}"></head>-->
<head th:replace="~{base :: head}"></head>
</head>

<body class="vermelho">
	<span th:text="${nome}">João</span>!
	<i class="fas fa-chevron-up"></i>

	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4">Hello, world!</h1>
		  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		  <hr class="my-4">
		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div>
	</div>

	<div id="demo" class="collapse">Lorem ipsum dolor sit amet,
		consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
		exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div>

	<p>
		<a class="btn btn-primary" data-bs-toggle="collapse"
			href="#collapseExample"> Link with href </a>
	</p>
	<div class="collapse" id="collapseExample">
		<div class="card card-body">Some placeholder content for the
			collapse component. This panel is hidden by default but revealed when
			the user activates the relevant trigger.</div>
	</div>

	<script type="text/javascript" src="js/testeJs.js"></script>

</body>

<script>
	
</script>

</html>