<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>

	<div class="container" id="homeDto">

		<nav
			class="navbar navbar-expand navbar-light d-flex justify-content-between mb-3">
			<a href="/venda/formulario"><button
					class="btn btn-outline-secondary my-sm-0">Nova Venda</button></a>
			<div>
				<input class="my-sm-0" placeholder="Buscar"></input>
				<button class="btn btn-outline-secondary">Buscar</button>
			</div>
		</nav>

		<!--  <div th:replace="~{base :: titulo('Minhas Vendas', ${localDate})}"></div> -->
		<div id="base" onChange=""
			th:replace="~{base :: titulo('Minhas Vendas', ${localDate})}"></div>

		<!--
		TESTES-->
		<!--<div class="card mb-3" v-for="(teste,index) in vendasDto.listaVendas">
				<p>  {{ teste[0].id }} - {{index}} - {{vendasDto.usuariosVendaEmAberto.length}} - {{vendasDto.vendas.length}}
				<span v-if="index < vendasDto.usuariosVendaEmAberto.length"> oi {{vendasDto.usuariosVendaEmAberto[index].nomeCliente}} </span> 
		</div>-->

		<!--  <div class="row" th:each="venda : ${vendas}" th:for="${vendaStat.index}">-->
		<div class="row" v-for="(parcela,index) in vendasDto.listaParcelas">

			<!--<span th:text="${#ids.seq('')}"> teste</span>
				 <span th:text="${usuariosVendaEmAberto[0].nomeCliente}"></span>
				<span th:text="${usuariosVendaEmAberto[0].nomeCliente}"></span>
				<span th:text="${vendas[0][0].Cliente.id}"></span>
				<span th:text="${vendas[1][0].Cliente.id}"></span>
				<span th:text="${usuariosVendaEmAberto[vendaStat.index].id + ' ,'}  "> </span>-->

			<!--  index : ${#numbers.sequence( 0, #arrays.length(usuariosVendaEmAberto)-1)}ASPAS -->

			<div class="card-body border mt-2">
				<div class="row">
					<div class="col-12 mb-3">
						<div class="row">
							<div id="vendaNomeCliente" class="col-md-5">
								<!--  <span th:text="${usuariosVendaEmAberto[vendaStat.index].nomeCliente}">Nome Cliente</span> -->
								<span>{{parcela[0].venda.cliente.nomeCliente}}</span>
							</div>

							<div id="vendaQtdeCompras" class="col-md-5">
								<!--  <span th:text="${'Qtde Compras: ' + usuariosVendaEmAberto[vendaStat.index].qtdeCompras}"></span> -->
								<span v-if="index < vendasDto.usuariosVendaEmAberto.length">Qtde
									Compras: {{parcela[0].venda.cliente.qtdeCompras}}</span>
							</div>

							<div id="vendaValorTotalCliente" class="col-md-2">
								<!--  <span th:text="${'Total: R$ ' + valoresTotais[{vendaStat.index}]}"></span> -->
								<span>Total: R$
									{{vendasDto.valoresTotaisClientesEmAberto[index]}}</span>
							</div>

						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-1">Cód:</div>
								<div class="col-md-3">Descrição:</div>
								<div class="col-md-1">pc:</div>
								<div class="col-md-3">Valor pc:</div>
								<div class="col-md-2">Total Venda:</div>
								<div class="col-md-2">Data à Pagar:</div>
							</div>

							<!--  <div class="row" th:each= "venda : ${vendas}" th:for="${vendaStat.index}">-->
							<!--  <div class="row" th:each="venda2 : ${venda}">-->
							<div class="row" v-for="(parcelaDois,indexDois) in parcela">
								<div id="vendaId" class="col-md-1">
									<!-- <span th:if="${venda2Stat.index} <= ${#lists.size(venda)}"
										th:text="${venda2.id}"></span> -->
									<span>{{parcelaDois.venda.id}}</span>
								</div>

								<div id="vendaNomeProduto" class="col-md-3">
									<!--  <span th:text="${venda2.nomeProduto}"></span>-->
									<span>{{parcelaDois.venda.nomeProduto}}</span>
								</div>

								<div id="vendaQtdeParcelas" class="col-md-1">
									<!--  <span
										th:text="${parcelas[{#ids.seq('')-1}].parcela + '/' + venda2.qtdeParcelas}"></span>-->
									<span>{{parcelaDois.parcela}}/{{parcelaDois.venda.qtdeParcelas}}</span>
								</div>

								<div id="vendaValorParcela" class="col-md-3">
									<!--  <span id=valorParcela
										th:text="${'R$ ' + #numbers.formatDecimal((parcelas[{#ids.next('')-2}].valorParcela),2,2)}"></span>-->
									<!--  <span th:text="${#ids.next('')-2}"></span>-->					
									<span>R$ {{parcelaDois.valorParcela}}</span>

								</div>
								<div id="vendaValorTotal" class="col-md-2">
									<!--  <span th:text="${'R$ ' + #numbers.formatDecimal(venda2.valorTotal,2,2)}"></span>-->
									<span>{{parcelaDois.venda.valorTotal}}</span>
								</div>
								<div id="vendaDataCompra" class="col-md-2">
									<!--  <span th:text="${parcelas[{#ids.prev('')-1}].dataParcela}"></span> -->
									<span>{{parcelaDois.dataParcela}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="d-flex justify-content-end">
			<!--  <span id="valorTotalVendas" th:text="${'Valor Total: R$ ' + valorTotalVendas}"></span>-->
			<span>Valor TOTAL R$: {{vendasDto.valorTotalVendas}}</span>
		</div>
	</div>



	<div id="app-3">
		<p v-if="seen">Agora você me viu</p>
	</div>

	<div id="homeDto">
		<ol>
			<li v-for="vendas in vendasDto">{{ vendas }}</li>
		</ol>
	</div>

</body>


<script>
	function mesAtual() {
		document.getElementById("listaMeses").value = new Date().getMonth();
	}

	const teste = {
		dois(){
			console.log("entrou na function teste");
		}
	}
	
		var app = new Vue({
			el : '#homeDto',
			data : {
				vendasDto : [],
				count: 0,
			},
			mounted(){
				axios
					.get('/api/home'+ '?mes=' + new Date().getMonth())
					.then(response => this.vendasDto = response.data)	
					
			},
			methods: {
				  getCount() {					
					if(this.count < this.vendasDto.parcelas.length){
						this.count += 1;						
						console.log(this.count);
						console.log("entrou");
					}
					return this.count;
				  }
				}
		})
		console.log(new Date().getMonth()+1 + "Mês");
		document.getElementById("listaMeses").value = new Date().getMonth()+1;
</script>






</html>