<html>
<head th:replace="~{base :: head}"></head>
<body id="body">
	<div th:replace="~{base :: logo}"></div>

	<div class="container" id="homeDto" v-on:change="getMes()">

		<nav
			class="navbar navbar-expand navbar-light d-flex justify-content-between mb-3">
			<a href="/venda/formulario"><button
					class="btn btn-outline-secondary my-sm-0">Nova Venda</button></a>
			<div>
				<input class="my-sm-0" placeholder="Buscar"></input>
				<button class="btn btn-outline-secondary">Buscar</button>
			</div>
		</nav>

		<div id="base"
			th:replace="~{base :: titulo('Minhas Vendas', ${localDate})}"></div>

		<!--
		TESTES-->
		<!--<div class="card mb-3" v-for="(teste,index) in vendasDto.listaVendas">
				<p>  {{ teste[0].id }} - {{index}} - {{vendasDto.usuariosVendaEmAberto.length}} - {{vendasDto.vendas.length}}-->
		<!--<span>{{vendasDto.listaParcelas.length}}  </span> -->
		<!--</div>-->
		
		<div id="legenda" class="mt-4">
			<h4 class="">
				Legenda das parcelas:
				</h1>
				<div id="aguardando" style="display: inline-flex">
					<p class="border border-danger"
						style="width: 30px; height: 30px; background-color: lightcoral"></p>
					<p class="ml-1">Aguardando</p>
				</div>
				
				<div id="parcial" style="display: inline-flex">
					<p class="border border-warning ml-5"
						style="width: 30px; height: 30px; background-color: lightyellow"></p>
					<p class="ml-1">Parcial</p>
				</div>

				<div id="paga" style="display: inline-flex">
					<p class="border border-success ml-5"
						style="width: 30px; height: 30px; background-color: lightgreen"></p>
					<p class="ml-1">Paga</p>
				</div>
		</div>

		<div class="row" v-for="(parcela,index) in vendasDto.listaParcelas"
			:key="parcela.id">

			<div class="card-body border mt-2">
				<div class="row">
					<div class="col-12 mb-3">
						<div class="row">
							<div id="vendaNomeCliente" class="col-md-4">
								<span>{{parcela[0].venda.cliente.nomeCliente}}</span>
							</div>

							<div id="vendaQtdeCompras" class="col-md-4">
								<span v-if="index < vendasDto.usuariosVendaEmAberto.length">Total
									de Compras: {{parcela.length}}</span>
							</div>

							<div id="parcelaValorTotalCliente" class="col-md-2">
								<span>Total em Parcelas: R$
									{{vendasDto.valoresTotaisParcelaClientesEmAberto[index]}}</span>
							</div>
							
							<div id="vendaValorTotalCliente" class="col-md-2">
								<span>Total em Vendas: R$
									{{vendasDto.valoresTotaisVendaClientesEmAberto[index]}}</span>
							</div>

						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-1">Cód:</div>
								<div class="col-md-3">Descrição:</div>
								<div class="col-md-1">pc:</div>
								<div class="col-md-2">Valor pc:</div>
								<div class="col-md-2">Total Venda:</div>
								<div class="col-md-2">Data à Pagar:</div>
							</div>

							<div v-bind:class="[classObject(parcelaDois.status), row]" class="mb-1"
								v-for="(parcelaDois,indexDois) in parcela">

								<!--  <div th:switch="'APROVADO'">
									<div th:case="'APROVADO'" class="card-header alert-success"></div>
									<div th:case="'AGUARDANDO'" class="card-header alert-warning"></div>
								</div>-->
								<div id="vendaId" class="col-md-1 justify-content-center align-self-center">
									<span>{{parcelaDois.venda.id}}</span>
								</div>

								<div id="vendaNomeProduto" class="col-md-3 justify-content-center align-self-center">
									<span>{{parcelaDois.venda.nomeProduto}}</span>
								</div>

								<div id="vendaQtdeParcelas" class="col-md-1 justify-content-center align-self-center">
									<span>{{parcelaDois.parcela}}/{{parcelaDois.venda.qtdeParcelas}}</span>
								</div>

								<div id="vendaValorParcela" class="col-md-2 justify-content-center align-self-center">
									<span>R$ {{parcelaDois.valorParcela}}</span>
								</div>

								<div id="vendaValorTotal" class="col-md-2 justify-content-center align-self-center">
									<span>R$ {{parcelaDois.venda.valorTotal}}</span>
								</div>

								<div id="vendaDataCompra" class="col-md-2 justify-content-center align-self-center">
									<span>{{parcelaDois.dataParcela}}</span>
								</div>
								
								<div v-if="parcelaDois.status == 'AGUARDANDO'" id="btnPagar" class="col-md-1 pt-1 pb-1">
									<button type="button" class="btn btn-danger" data-bs-toggle="modal" 
										data-bs-target="#exampleModal" v-on:click="getDadosModal(parcelaDois)">Pagar</button>
								</div>
								<div v-else id="btnPago" class="col-md-1 pt-1 pb-1">
								  <button type="button" class="btn btn-success" data-bs-toggle="modal" 
										data-bs-target="#exampleModal" v-on:click="getDadosModal(parcelaDois)" disabled>Pago</button>
								</div>
								
								<!-- Modal -->
								<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								    <div class="modal-dialog">
								      <div class="modal-content">
								        <div class="modal-header">
								          <h5 class="modal-title text-dark" id="exampleModalLabel">Pagamento Parcela</h5>
								          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								        </div>
								        <form th:object="${requisicaoNovaParcela}" class="card-body m-3" th:action="@{/home/pagamento}" method="POST">
								        	<div class="modal-body text-dark">	
						  					
							  					<div class="row">
													<div class="mb-3 col-4">
											  			<label for="idVenda" class="form-label">Cód venda:</label>
										      			<input id="idVenda" name="idVenda" type="text" class="form-control">
										  			</div>				  
													<div class="mb-3 col-4">					    
														<label for="parcela" class="form-label">Parcela:</label>				  	
												  		<input id="parcela" name="parcela" type="text" class="form-control">
												  	</div>
												  	<div class="mb-3 col-4">					    
														<label for="dataParcela" class="form-label">Data Parcela:</label>				  	
												  		<input id="dataParcela" name="dataParcela" type="text" class="form-control">
												  	</div>
									    		</div>				  					
								  				
								  				<div class="mb-3 col-md-12">
									  				<label for="nomeProduto" class="">Nome Produto:</label>				  	
									  				<input id="nomeProduto" name="nomeProduto" type="text" class="form-control" >
								  				</div>
								  				
								  				<div class="mb-2 col-md-5">
								  					<label for="valorParcela" class="form-label">Valor Parcela:</label>				  	
								  					<input id="valorParcela" name="valorParcela" type="text" class="form-control" >
								  				</div>	
								  				
								  				<div class="mb-2 col-md-5">
								  					<label for="valorPago" class="form-label">Valor Pago:</label>				  	
								  					<input id="valorPago" name="valorPago" type="text" class="form-control" >
								  				</div>
							  				
								        	</div>
									        <div class="modal-footer">
		      						          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
									          <button type="submit" class="btn btn-primary">Salvar</button>
									        </div>
								        </form>
								      </div>
								    </div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end">
			<span>Valor TOTAL Recebido: R$ {{vendasDto.valorTotalRecebido}}</span>
		</div>
		<div class="d-flex justify-content-end">
			<span>Valor TOTAL à Receber: R$ {{vendasDto.valorTotalParcelas}}</span>
		</div>
	</div>			
</body>

<div th:replace="~{base :: script}"></div>

<script>
</script>

</html>