<html>
<head th:replace="~{base :: head}"></head>
<body id="body">
	<div th:replace="~{base :: logo}"></div>

	<div class="container" id="homeDto" v-on:change="getMes()">

		<nav
			class="navbar navbar-expand navbar-light d-flex justify-content-between mb-3">
			<a href="/venda/formulario"><button
					class="btn btn-outline-secondary my-sm-0">Nova Venda</button></a>
			<div>
				<input class="my-sm-0" placeholder="Buscar"></input>
				<button class="btn btn-outline-secondary">Buscar</button>
			</div>
		</nav>

		<div id="base"
			th:replace="~{base :: titulo('Minhas Vendas', ${localDate})}"></div>

		<!--
		TESTES-->
		<!--<div class="card mb-3" v-for="(teste,index) in vendasDto.listaVendas">
				<p>  {{ teste[0].id }} - {{index}} - {{vendasDto.usuariosVendaEmAberto.length}} - {{vendasDto.vendas.length}}-->
		<!--<span>{{vendasDto.listaParcelas.length}}  </span> -->
		<!--</div>-->

		<div id="legenda" class="mt-4">
			<h4 class="row">
				Legenda das parcelas:
				</h1>
				<div id="aguardando" class="row">
					<p class="border border-danger"
						style="width: 30px; height: 30px; background-color: lightcoral"></p>
					<p class="ml-1">Aguardando</p>

					<p class="border border-warning ml-5"
						style="width: 30px; height: 30px; background-color: lightyellow"></p>
					<p class="ml-1">Parcial</p>

					<p class="border border-success ml-5"
						style="width: 30px; height: 30px; background-color: lightgreen"></p>
					<p class="ml-1">Paga</p>
				</div>
		</div>

		<div class="row" v-for="(parcela,index) in vendasDto.listaParcelas"
			:key="parcela.id">

			<div class="card-body border mt-2">
				<div class="row">
					<div class="col-12 mb-3">
						<div class="row">
							<div id="vendaNomeCliente" class="col-md-5">
								<span>{{parcela[0].venda.cliente.nomeCliente}}</span>
							</div>

							<div id="vendaQtdeCompras" class="col-md-5">
								<span v-if="index < vendasDto.usuariosVendaEmAberto.length">Total
									de Compras: {{parcela.length}}</span>
							</div>

							<div id="vendaValorTotalCliente" class="col-md-2">
								<span>Total: R$
									{{vendasDto.valoresTotaisClientesEmAberto[index]}}</span>
							</div>

						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-1">Cód:</div>
								<div class="col-md-3">Descrição:</div>
								<div class="col-md-1">pc:</div>
								<div class="col-md-3">Valor pc:</div>
								<div class="col-md-2">Total Venda:</div>
								<div class="col-md-2">Data à Pagar:</div>
							</div>

							<div v-bind:class="[classObject(parcelaDois.status), row]"
								v-for="(parcelaDois,indexDois) in parcela">

								<!--  <div th:switch="'APROVADO'">
									<div th:case="'APROVADO'" class="card-header alert-success"></div>
									<div th:case="'AGUARDANDO'" class="card-header alert-warning"></div>
								</div>-->
								<div id="vendaId" class="col-md-1">
									<span>{{parcelaDois.venda.id}}</span>
								</div>

								<div id="vendaNomeProduto" class="col-md-3">
									<span>{{parcelaDois.venda.nomeProduto}}</span>
								</div>

								<div id="vendaQtdeParcelas" class="col-md-1">
									<span>{{parcelaDois.parcela}}/{{parcelaDois.venda.qtdeParcelas}}</span>
								</div>

								<div id="vendaValorParcela" class="col-md-3">
									<span>R$ {{parcelaDois.valorParcela}}</span>
								</div>

								<div id="vendaValorTotal" class="col-md-2">
									<span>{{parcelaDois.venda.valorTotal}}</span>
								</div>

								<div id="vendaDataCompra" class="col-md-2">
									<span>{{parcelaDois.dataParcela}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end">
			<span>Valor TOTAL R$: {{vendasDto.valorTotalVendas}}</span>
		</div>
	</div>	
</body>


<script>
window.addEventListener("load", onLoad);
	
	function onLoad(){
		console.log("entrou na load")
		var mesAtual = new Date().getMonth() + 1;
		console.log("int do mes selecionado " + mesAtual)
		var app = new Vue({
			el : '#homeDto',
			data : {
				vendasDto : [],
				row: 'row'
			},
			mounted(){
				axios
					.get('/api/home'+ '?mes=' + mesAtual)
					.then(response => {
						this.vendasDto = response.data;
						console.log(this.vendasDto);
					})
			},
			methods: {
				getMes : function(){
					var novoValorMes = document.querySelector("#listaMeses").value
					console.log(novoValorMes)
					axios
					  .get('/api/home' + '?mes=' + novoValorMes)
					  .then(response => {
					      this.vendasDto = response.data;
						  console.log(this.vendasDto);
						  console.log("entrou no teste")
					  })
				},	
				 
				classObject: function (teste) {
					var expr = teste
					console.log("acima do teste")
					console.log(teste)
					switch (expr) {
					    case 'AGUARDANDO':
						    console.log("entrou no = 0")
						    return 'alert-danger'
						    break;
					    case 'PARCIAL':
						    console.log("entrou no >= 1")
						    return 'alert-warning'
						    break;
					    case 'PAGA':
						    console.log("entrou no >= 1")
						    return 'alert-success'
						    break;
					    default:
				    		return 'alert-danger'
					 }
				 }			 				 			
			}
		})
		document.getElementById("listaMeses").value = mesAtual
	}
	
	/*function mostrarResposta(venda) {
	    const mensagem = `
	        venda: ${venda.listaParcelas[0][0].venda.cliente.nomeCliente},
	        parcela: ${venda.parcelas[0].ativa},
	        dataParcela: ${venda.parcelas[0].dataParcela}
	    `;
	    alert(mensagem);
	}*/
</script>

</html>