<html>

<head th:replace="~{base :: head}"></head>

<body>
	<div th:replace="~{base :: navMenu}"></div>

	<div class="container" id="listaClientes">
		<div class="mt-3 container" style="width: 62em;">
			<div th:replace="~{base :: novaVenda('New Sale')}"></div>
		</div>

		<div class="card mt-3 container" style="width: 54em;">
		<form th:object="${saleData}" class="card-body m-3" th:action="@{/sale/new}" method="POST">
			<!-- <form th:action="@{/venda/novo}" method="post" class="m-3"> -->

			<div class="row">

				<div class="d-flex justify-content-end">
					<a href="/cliente/formulario" class="d-flex justify-content-end"><button type="button"
							class="btn btn-primary my-sm-0">New Customer</button></a>
				</div>

				<div class="mb-3 col-2">
					<label for="idCliente" class="form-label">Cód</label>
					<input name="idCliente" type="text" class="form-control" id="idCliente">
				</div>

				<div class="mb-3 col-10">
					<label for="nomeCliente" class="form-label">Customer Name</label>
<!--					<input hidden id="nomeCliente"  class="form-control">-->
					<select name="nomeCliente" th:errorclass="is-invalid" id="dropDownCliente" v-model="cliente" class="form-control" onchange="obterCodCliente()">
						<option th:disabled="disabled" th:selected="selected" value="">Select a Customer</option>
						<option v-for="cliente in clientes" :key="cliente.id" v-bind:value="cliente.id" id="idCustomerName"
							name="idCustomerName">
							{{cliente.nomeCliente}}
						</option>
					</select>
					<div class="invalid-feedback" th:erros="*{nomeCliente}">
						Customer is mandatory.
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label for="nomeProduto" class="form-label">Product Name</label>
				<input id="nomeProduto" th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Insert the product name.">
				<div class="invalid-feedback" th:erros="*{nomeProduto}">
					Product name is mandatory.
				</div>
			</div>

			<div class="row">

				<div class="mb-3 col-2">
					<label for="valorTotal" class="form-label">Total Value</label>
					<input id="valorTotal" name="valorTotal" type="text" th:field="*{valorTotal}" th:errorclass="is-invalid" class="form-control">
					<div class="invalid-feedback" th:erros="*{valorTotal}">
						Total value is mandatory.
					</div>
				</div>

				<div class="mb-3 col-2">
					<label for="parcela" class="form-label">Nº Installment</label>
					<input id="parcela" name="qtdeParcelas" type="text" th:field="*{qtdeParcelas}" th:errorclass="is-invalid" class="form-control">
					<div class="invalid-feedback" th:erros="*{qtdeParcelas}">
						Number of installments is mandatory.
					</div>
				</div>

				<div class="mb-3 col-4">
					<label for="dataCompra" class="form-label">Purchase Date</label>
					<input name="dataCompra" type="date" class="form-control" id="dataCompra" th:field="*{dataCompra}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:erros="*{dataCompra}">
						Purchase date is mandatory.
					</div>
				</div>

				<div class="mb-3 col-4">
					<label for="inicioPagamento" class="form-label">Initial Payment Date</label>
					<input name="inicioPagamento" type="date" class="form-control" id="inicioPagamento" th:field="*{inicioPagamento}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:erros="*{inicioPagamento}">
						Initial purchase date date is mandatory.
					</div>
				</div>

			</div>
			<a href="http://localhost:8080/home"><button type="button"
					class="btn btn-outline-secondary my-sm-0">Cancel</button></a>
			<button type="submit" class="btn btn-primary">Save Sale</button>
		</form>
	</div>
	</div>

	<div th:replace="~{base :: script}"></div>

</body>

</html>